<div class="emp-applications-container">
    <div class="employer-stats">
        <div class="jobs-posted">
            <div>
                <div class="count">
                    35
                </div>
                <div class="label">
                    Jobs Posted
                </div>
            </div>
        </div>
        <div class="jobs-open">
            <div>
                <div class="count">
                    35
                </div>
                <div class="label">
                    Jobs Open
                </div>
            </div>
        </div>
        <div class="applicants">
            <div>
                <div class="count">
                    35
                </div>
                <div class="label">
                    Applicants
                </div>
            </div>
        </div>
        <div class="jobs-closed">
            <div>
                <div class="count">
                    35
                </div>
                <div class="label">
                    Jobs Closed
                </div>
            </div>
        </div>
    </div>
</div>
